
body{ color:#333333;
background-color: white;
margin:0;
padding:0;
font-family: sans-serif;
align-items: center;
justify-content: center;
display: flex;
min-height: 100px;
overflow-x:hidden;
}
.header{width: 100%;
  min-width: 400px;
  position: absolute;
  top: 0;
  left:50%;
  padding: 20px;
  transform: translateX(-80%);
  box-sizing: border-box;
  color: white;
}
img{width: 40px;
height: 40px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
position:absolute;
top: 20px;
right: 20px;
}

.signup{background-color:white;
    width: 100%;
    max-width: 500px;
    padding: 40px;
    box-sizing: border-box;
  }
  h1{text-align: left;
  color:black;
  font-family: sans-serif ;
}
p{text-align: left;
color:black;
}
.form{align-items: center;
    color:rgb(66, 62, 62);
    margin-bottom: 30px;
    font-weight: 500px;
    font-size: 15px;
  }
  input{width: 100%; 
      height: 40px;
font-size: 16px;
border-radius: 10px;
background-color: rgb(241, 233, 233);;
display: block;
opacity: 0.6;}

button{background-color: rgb(77, 77, 255);
color: white;
width:100%;
  font-size:16px;
  padding: 8px 10px;
  margin-top: 20px;
text-align: center;
border-radius:5px;
box-sizing: border-box;
border-color: rgb(77, 77, 255);}

.register{color: rgba(75, 75, 255, 0.822); text-align: center;
}
.forgot{text-align: center;
}
a{text-decoration: none;
}
.go{text-align: center;
}