
body{ color:black;
background-color: white;
margin:0;
padding:0;
font-family: sans-serif;
align-items: center;
justify-content: center;
display: flex;
min-height: 100px;
overflow-x:hidden;
}
.header{width: 10%;
  position: absolute;
  top: 0;
  left:55%;
  height: 10%;
  padding: 10px;
  box-sizing: border-box;
}
img{width: 40px;
height: 40px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
position:absolute;
top: 30px;
right: 30px;}

.signup{background-color:white;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    padding: 40px;
    box-sizing: border-box;
  }
  h1{text-align: left;
  color:black;
  font-family: sans-serif ;
}
p{text-align: left;
color:black;
}
.form{align-items: center;
    color:rgb(66, 62, 62);
    margin-bottom: 30px;
    font-weight: 500px;
    font-size: 15px;
  }
  input{width: 100%; 
      height: 40px;
font-size: 16px;
border-radius: 10px;
background-color: rgb(241, 233, 233);
border-color: rgb(230, 222, 222);
display: block;
opacity: 0.5;}

button{background-color: rgb(17, 17, 235);
color: white;
width:100%;
  font-size:16px;
  padding: 8px 10px;
  margin-top: 20px;
text-align: center;
border-radius:5px;
box-sizing: border-box;
border-color: rgb(17, 17, 235);}

.register{color: blue; text-align: center;
}
.forgot{text-align: center;
}
a{text-decoration: none;
}
.go{text-align: center;
}